<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autostart</key>
	<true/>
	<key>synchronizationInterval</key>
	<real>0.25</real>
	<key>keepUnfinishedFiles</key>
	<false/>
	<key>modules</key>
	<dict>
		<key>backlight</key>
		<true/>
		<key>batteryLevel</key>
		<true/>
		<key>batteryState</key>
		<true/>
		<key>frontCamera</key>
		<true/>
		<key>heading</key>
		<true/>
		<key>location</key>
		<true/>
		<key>screenRecorder</key>
		<true/>
		<key>uiViewController</key>
		<true/>
	</dict>
</dict>
</plist>
