<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IMUT Bundle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>IMUT Framework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>IMUT Library.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>262DF8C719596FF500A5AEE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>262DF8D719596FF600A5AEE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>262DF8F41959704700A5AEE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>262DFA1F1959721000A5AEE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
